/*.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
}


.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-visbility: hidden;
}

.scroll-pane .scroll-bar .thumb {
    -fx-visbility: hidden;
}*/

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar .increment-button:hover,
.scroll-pane .scroll-bar .decrement-button:hover {
    -fx-background-color: transparent;  

}
.scroll-pane .scroll-bar .increment-button:hover,
.scroll-pane .scroll-bar .decrement-button:hover {
    -fx-padding: 0;  
    -fx-background-color: transparent;  

}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #888;
}

.scrollVBox {
     -fx-background: transparent;
    
}