/*
 * Empty Stylesheet file.
 */


#leafpane {
    overflow:  hidden;
}
#emailTextField {
    -fx-background-color:white;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: rgb(0,102,102);
}
#passwordTextField {
    -fx-background-color:white;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: rgb(0,102,102);
}

#emailTextField:focused {
    -fx-border-width: 2;
}
#passwordTextField:focused {
    -fx-border-width: 2;
}

/*#loginBtn:hover {
    -fx-background-color: rgb(13, 163, 166);
}

#signUpBtn:hover{
    -fx-text-fill:#ff6666;
    
}*/