.dayBtn{
    -fx-background-color: #dddddd;
    -fx-border-width: 0px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-size: 30px;
}

.previousBtn, .nextBtn {
    -fx-background-color: #dddddd;
    -fx-background-radius: 5px;
}